 
body{
    max-width:1000px;
    margin: auto;
    background-image: url("../img/image.jpg");
    color: white;
    font-family: 'Frijole', cursive;
    font-size: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    }
.row {
    color: black;
    font-size: 20px;
}
    #clock{
        margin: auto;
        color: white;
    }

  #footer{
    color: white;
    font-size: 20px;
  }
